@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/font/GmarketSansTTFMedium.ttf'); 
}

// body {
//   margin: 0;
//   padding: 0;
//   max-width: 1280px;
//   margin: 0 auto;
//   /* font-family: 'NotoSans' !important; */
//   font-family: 'NotoSans' !important;
//   background-color: #fcfcfc;
//   /* -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale; */
// }

html {
  font-size: 14px !important;
}

body {
  // font-family: "Open Sans", Arial, sans-serif;
  font-family: 'GmarketSans', Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.modal-card-head {
  padding: 10px;
}

// .modal-mask {
//   position: fixed;
//   z-index: 9998;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, .5);
//   display: table;
//   transition: opacity .3s ease;
// }

// .modal-wrapper {
//   display: table-cell;
//   vertical-align: middle;
// }

// .modal-container {
//   display: flex;
//   width: 320px;
//   margin: 0px auto;
//   padding: 10px 20px;
//   background-color: #fff;
//   border-radius: 2px;
//   box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
//   transition: all .3s ease;
//   font-family: Helvetica, Arial, sans-serif;
// }

// .modal-header h3 {
//   margin-top: 0;
//   color: #42b983;
// }

// .modal-body {
//   margin: 20px 0;
// }

// .modal-default-button {
//   float: right;
// }